@media screen and (orientation: landscape) {
    .bot-list-social,
    .sigs-group,
    .icpc-leaders,
    .blockchain-leaders,
    .gamedev-leaders,
    .ml-leaders,
    .design-leaders,
    .leaders {
        flex-direction: row;
    }
}

@media screen and (orientation: portrait) {
    .bot-list-social,
    group,
    .icpc-leaders,
    .blockchain-leaders,
    .gamedev-leaders,
    .ml-leaders,
    .design-leaders,
    .leaders {
        flex-direction: column;
    }
}

@media screen and (min-width: 950px) {
    .sigs-group {
        flex-direction: row;
    }
    container {
        direction: row;
    }
}

@media screen and (max-width: 950px) {
    .sigs-group {
        flex-direction: column;
    }
    container {
        direction: column;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.home-header-section {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-sigs-section {
    background-color: #9a3030;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sigs-group {
    display: flex;
    align-items: center;
}

.sigs-item {
    display: flex;
    font-size: medium;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sigs-item-img {
    margin-left: 3vw;
    margin-right: 3vw;
    width: calc(20vmin);
}

.home-companies-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9a3030;
}

.companies-list {
    display: flex;
    flex-direction: row;
}
.companies_img_container {
    display: flex;
    margin: 3vw;
    width: 12vw;
    height: 12vw;
    justify-content: center;
}
.companies_img {
    flex:0 1 auto;
    width: 100%;
    height: auto;
    align-self:center;
}

.home-join-section {
    background-color: #9a3030;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-text-link {
    color: inherit;
    text-decoration: none;
    font-size: calc(7px + 2vmin);
}

.about-header-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9a3030;
}

.about-design-section, .about-gamedev-section, .about-blockchain-section , .about-ml-section, .about-icpc-section, .about-webdev-section 
 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9a3030;
}

.picture-caption {
    font-size: calc(5px + 1.5vmin);
    text-align: center;
    font-weight: light;
    margin: 0%;
}

.picture-caption-holder {
    display: flex;
    flex-direction: column;
}

.icpc-leaders,
.blockchain-leaders,
.gamedev-leaders,
.ml-leaders,
.design-leaders,
.leaders {
    display: flex;
}

.icpc-leaders-img,
.blockchain-leaders-img,
.gamedev-leaders-img,
.ml-leaders-img,
.design-leaders-img,
.leaders-img {
    width: calc(120px + 15vmin);
    margin-left: auto;
    margin-right: auto;
}

.NaviBar-navibar {
    display: flex;
    flex-direction: row;
    color: white;
}

.text-link {
    color: inherit;
    text-decoration: none;
}

.bottom-bar-navibar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bot-list-social {
    display: flex;
}

.bottom-bar-text-link {
    color: #9a3030;
    text-decoration: none;
    align-items: center;
    text-align: center;
    width: calc(75px + 5vmin);
}

.sigs-header {
    background-color: #9a3030;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.sigs-header-text {
    width:75%;
}

.sig-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9a3030;
}

.sig-socialbar {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sig-socialbar-heading {
    text-align: center;
}

.Join, .Calendar {
    background-color: #9a3030;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.Calendar-iframe, .Join-iframe {
    align-self: center;
}